vacuum-battle-flow.json
[{"id":"2b85d027.d47a3","type":"mqtt-broker","z":"843107d4.7bcef8","broker":"op-en.se","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"15947760.ea6b89","type":"mqtt-broker","z":"843107d4.7bcef8","broker":"mqtt","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"35e7874b.ca1878","type":"mqtt in","z":"843107d4.7bcef8","name":"Special2","topic":"kits/2/smartplugs/yanzi/EUI64-0080e1030004f40d/#","broker":"15947760.ea6b89","x":98,"y":147,"wires":[["b164c102.4e9b4","e32d58b4.1cd2a8"]]},{"id":"902b92ea.6fd47","type":"mqtt in","z":"843107d4.7bcef8","name":"Special1","topic":"kits/2/smartplugs/yanzi/EUI64-0080e1030004f5bd/energy","broker":"15947760.ea6b89","x":85,"y":206,"wires":[["27c43647.d83bca"]]},{"id":"e5e2252c.1a1dd8","type":"json","z":"843107d4.7bcef8","name":"","x":447,"y":182,"wires":[["9d797592.628688"]]},{"id":"fda9672f.025698","type":"inject","z":"843107d4.7bcef8","name":"Reset","topic":"/vacuum/all","payload":"reset","payloadType":"string","repeat":"","crontab":"","once":true,"x":166,"y":438,"wires":[["8492c57b.7b6d38"]]},{"id":"a40f81b0.5bf08","type":"debug","z":"843107d4.7bcef8","name":"","active":false,"console":"false","complete":"false","x":754,"y":445,"wires":[]},{"id":"e134b530.1ecb48","type":"inject","z":"843107d4.7bcef8","name":"Blue +1 Point","topic":"/vacuum/1","payload":"+1","payloadType":"string","repeat":"","crontab":"","once":false,"x":144,"y":342,"wires":[["3c132d3.fc3ecd2"]]},{"id":"f0458248.0fba8","type":"inject","z":"843107d4.7bcef8","name":"Red +1 Point","topic":"/vacuum/2","payload":"+1","payloadType":"string","repeat":"","crontab":"","once":false,"x":149,"y":391,"wires":[["72fda13a.8d026"]]},{"id":"8492c57b.7b6d38","type":"function","z":"843107d4.7bcef8","name":"Points accumulator","func":"if(msg.topic == \"/vacuum/control\" && msg.payload == \"gameover\"){\n    context.gameover = 1;\n}\n\nif(msg.topic == \"/vacuum/all\" && msg.payload == \"reset\"){\n    context.first = 0;\n    context.second = 0;\n    msg.payload = 0;\n    context.gameover = 0;\n}\n\nif(context.gameover == 1){\n    return;\n}\n\nif(msg.topic == \"/vacuum/1\" && msg.payload == \"+1\"){\n    context.first += 1;\n    msg.payload = context.first;\n    msg.topic = \"/vacuum/1\";\n}\n\nif(msg.topic == \"/vacuum/2\" && msg.payload == \"+1\"){\n    context.second += 1;\n    msg.payload = context.second;\n    msg.topic = \"/vacuum/2\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":494,"y":445,"wires":[["a40f81b0.5bf08","1bba00a8.e445ff","412ec329.bed13c"]]},{"id":"1bba00a8.e445ff","type":"mqtt out","z":"843107d4.7bcef8","name":"","topic":"","qos":"","retain":"","broker":"15947760.ea6b89","x":734,"y":486,"wires":[]},{"id":"b164c102.4e9b4","type":"function","z":"843107d4.7bcef8","name":"/vacuum/yanzi/special2","func":"msg.topic = \"/vacuum/yanzi/special2/energy\";\nreturn msg;","outputs":1,"noerr":0,"x":278,"y":149,"wires":[["e5e2252c.1a1dd8"]]},{"id":"27c43647.d83bca","type":"function","z":"843107d4.7bcef8","name":"/vacuum/yanzi/special1","func":"msg.topic = \"/vacuum/yanzi/special1/energy\";\nreturn msg;","outputs":1,"noerr":0,"x":265,"y":208,"wires":[["e5e2252c.1a1dd8"]]},{"id":"9d797592.628688","type":"function","z":"843107d4.7bcef8","name":"Point Judge","func":"// Constants\nvar margin = 5;\nvar marginUp = margin;\nvar marginDown = margin;\n\nvar cooldown = 5;\n\nvar value = msg.payload['power'];\nvar time = msg.payload['time'];\n\nif(context[msg.topic] === undefined){\n    context[msg.topic] = {\n        last: 0,\n        pointTime: 0\n    };\n}\n\n//If we have a previous one\nif(context[msg.topic] && context[msg.topic].last){\n    //Compare with previous\n    if(context[msg.topic].last > value + marginUp){\n        //Give point\n        if(!context[msg.topic].pointTime){\n            //First point\n            msg.payload = \"+1\";\n            context[msg.topic].pointTime = time;\n        }else if(time - context[msg.topic].pointTime > cooldown){\n            //Subsequent point\n            msg.payload = \"+1\";\n            context[msg.topic].pointTime = time;\n        }else{\n            //Within cooldown\n            msg.payload = \"too soon\";\n        }\n    }else if(context[msg.topic].last < value - marginDown ){\n        //Give point\n        if(!context[msg.topic].pointTime){\n            //First point\n            msg.payload = \"+1\";\n            context[msg.topic].pointTime = time;\n        }else if(time - context[msg.topic].pointTime > cooldown){\n            //Subsequent point\n            msg.payload = \"+1\";\n            context[msg.topic].pointTime = time;\n        }else{\n            //Within cooldown\n            msg.payload = \"too soon\";\n        }\n    }else{\n        msg.payload = \"NoPoint\";\n    }\n}\n\n\ncontext[msg.topic].last = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":613,"y":180,"wires":[["a3c330a3.5c3cd","fdd14901.022eb8"]]},{"id":"55d127ef.aa2ed8","type":"mqtt in","z":"843107d4.7bcef8","name":"All Power","topic":"plugwise2py/state/000D6F0002588BAC/meterevent","broker":"15947760.ea6b89","x":149,"y":978,"wires":[["849b918e.7b647"]]},{"id":"af68165d.5097e8","type":"mqtt in","z":"843107d4.7bcef8","name":"Plugwise1","topic":"plugwise2py/state/000D6F000277809F/meterevent","broker":"15947760.ea6b89","x":152,"y":1042,"wires":[["4b1417a0.b4ebe8"]]},{"id":"14b08502.eb4f7b","type":"mqtt in","z":"843107d4.7bcef8","name":"Plugwise2","topic":"plugwise2py/state/000D6F0000994F56/meterevent","broker":"15947760.ea6b89","x":152,"y":1099,"wires":[["4049286a.bfb6d8"]]},{"id":"4b1417a0.b4ebe8","type":"function","z":"843107d4.7bcef8","name":"/vacuum/plugwise/1","func":"msg.topic = \"/vacuum/plugwise/1/energy\";\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":1038,"wires":[["2138023c.dec7fe","497b9733.b68468"]]},{"id":"4049286a.bfb6d8","type":"function","z":"843107d4.7bcef8","name":"/vacuum/plugwise/2","func":"msg.topic = \"/vacuum/plugwise/2/energy\";\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":1098,"wires":[["d624268a.29dbd8","e0b823b2.1f47e"]]},{"id":"2138023c.dec7fe","type":"debug","z":"843107d4.7bcef8","name":"","active":false,"console":"false","complete":"false","x":724,"y":1044,"wires":[]},{"id":"d624268a.29dbd8","type":"debug","z":"843107d4.7bcef8","name":"","active":false,"console":"false","complete":"false","x":709,"y":1101,"wires":[]},{"id":"849b918e.7b647","type":"mqtt out","z":"843107d4.7bcef8","name":"","topic":"kits/1/smartplugs/plugwise/0","qos":"","retain":"","broker":"2b85d027.d47a3","x":374,"y":949,"wires":[]},{"id":"e32d58b4.1cd2a8","type":"debug","z":"843107d4.7bcef8","name":"","active":false,"console":"false","complete":"true","x":380,"y":78,"wires":[]},{"id":"497b9733.b68468","type":"mqtt out","z":"843107d4.7bcef8","name":"","topic":"kits/1/smartplugs/plugwise/1","qos":"","retain":"","broker":"2b85d027.d47a3","x":701,"y":946,"wires":[]},{"id":"e0b823b2.1f47e","type":"mqtt out","z":"843107d4.7bcef8","name":"","topic":"kits/1/smartplugs/plugwise/2","qos":"","retain":"","broker":"2b85d027.d47a3","x":710,"y":992,"wires":[]},{"id":"c83e969d.37c168","type":"function","z":"843107d4.7bcef8","name":"Points Counter","func":"if(msg.topic == \"/vacuum/all\" && msg.payload == \"reset\"){\n    context.first = 0;\n    context.second = 0;\n    msg.payload = 0;\n}\n\nif(msg.topic == \"/vacuum/1\" && msg.payload == \"+1\"){\n    context.first += 1;\n    msg.payload = context.first;\n}\n\nif(msg.topic == \"/vacuum/2\" && msg.payload == \"+1\"){\n    context.second += 1;\n    msg.payload = context.second;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":905,"y":675,"wires":[[]]},{"id":"913343df.6eccc","type":"mqtt out","z":"843107d4.7bcef8","name":"","topic":"sound","qos":"","retain":"","broker":"15947760.ea6b89","x":711,"y":570,"wires":[]},{"id":"767bd2c9.89842c","type":"inject","z":"843107d4.7bcef8","name":"Game Over","topic":"/vacuum/control","payload":"gameover","payloadType":"string","repeat":"","crontab":"","once":false,"x":186,"y":663,"wires":[["8492c57b.7b6d38","8e48f470.71b708","6304d6a6.9cfb28","d5a9b68c.2a5648","b2c1f40d.ec8c38"]]},{"id":"5a6118dd.a59ee8","type":"switch","z":"843107d4.7bcef8","name":"","property":"topic","rules":[{"t":"eq","v":"/vacuum/yanzi/special1/energy"},{"t":"eq","v":"/vacuum/yanzi/special2/energy"}],"checkall":"true","outputs":2,"x":435,"y":303,"wires":[["3c132d3.fc3ecd2"],["72fda13a.8d026"]]},{"id":"3c132d3.fc3ecd2","type":"function","z":"843107d4.7bcef8","name":"/vacuum/1","func":"msg.topic = \"/vacuum/1\";\nreturn msg;","outputs":1,"noerr":0,"x":617,"y":269,"wires":[["8492c57b.7b6d38"]]},{"id":"72fda13a.8d026","type":"function","z":"843107d4.7bcef8","name":"/vacuum/2","func":"msg.topic = \"/vacuum/2\";\nreturn msg;","outputs":1,"noerr":0,"x":616,"y":313,"wires":[["8492c57b.7b6d38"]]},{"id":"a3c330a3.5c3cd","type":"debug","z":"843107d4.7bcef8","name":"","active":false,"console":"false","complete":"false","x":843,"y":175,"wires":[]},{"id":"fdd14901.022eb8","type":"function","z":"843107d4.7bcef8","name":"Filter only points","func":"if(msg.payload == \"+1\"){\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":275,"y":302,"wires":[["5a6118dd.a59ee8"]]},{"id":"ef994112.1066c","type":"mqtt out","z":"843107d4.7bcef8","name":"","topic":"sound","qos":"","retain":"","broker":"15947760.ea6b89","x":1122,"y":331,"wires":[]},{"id":"9dac6161.6253a","type":"change","z":"843107d4.7bcef8","name":"blue","rules":[{"t":"set","p":"payload","to":"blue_player.wav"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":309,"wires":[["ef994112.1066c"]]},{"id":"759660c3.8a69a","type":"change","z":"843107d4.7bcef8","name":"red","rules":[{"t":"set","p":"payload","to":"red_player.wav"}],"action":"","property":"","from":"","to":"","reg":false,"x":927,"y":345,"wires":[["ef994112.1066c"]]},{"id":"a4b92348.5b46e","type":"delay","z":"843107d4.7bcef8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":344,"y":540,"wires":[["8492c57b.7b6d38","8e48f470.71b708","6304d6a6.9cfb28","d5a9b68c.2a5648","b2c1f40d.ec8c38"]]},{"id":"a8226144.57dda","type":"inject","z":"843107d4.7bcef8","name":"Start Game","topic":"/vacuum/control","payload":"gameover","payloadType":"string","repeat":"","crontab":"","once":false,"x":91.5,"y":516,"wires":[["63d8a5c8.9c275c","e69b2576.1964d8"]]},{"id":"412ec329.bed13c","type":"switch","z":"843107d4.7bcef8","name":"","property":"topic","rules":[{"t":"eq","v":"/vacuum/1"},{"t":"eq","v":"/vacuum/2"}],"checkall":"true","outputs":2,"x":788,"y":355,"wires":[["9dac6161.6253a"],["759660c3.8a69a"]]},{"id":"8e48f470.71b708","type":"function","z":"843107d4.7bcef8","name":"Turn Power Off1","func":"msg.payload = \"{\\\"val\\\":\\\"off\\\"}\";\nmsg.topic = \"plugwise2py/cmd/switch/000D6F000277809F\";\nreturn msg;","outputs":"1","noerr":0,"x":502,"y":660,"wires":[["1bba00a8.e445ff"]]},{"id":"193fa0bf.e6c05f","type":"function","z":"843107d4.7bcef8","name":"Turn Power On","func":"msg.payload = \"{\\\"val\\\":\\\"on\\\"}\";\nmsg.topic = \"plugwise2py/cmd/switch/000D6F000277809F\";\nreturn msg;","outputs":"1","noerr":0,"x":512,"y":493,"wires":[["1bba00a8.e445ff"]]},{"id":"6304d6a6.9cfb28","type":"function","z":"843107d4.7bcef8","name":"Turn Power Off2","func":"msg.payload = \"{\\\"val\\\":\\\"off\\\"}\";\nmsg.topic = \"plugwise2py/cmd/switch/000D6F0000994F56\";\nreturn msg;","outputs":"1","noerr":0,"x":500,"y":700,"wires":[["1bba00a8.e445ff"]]},{"id":"9f7cc731.608338","type":"function","z":"843107d4.7bcef8","name":"Turn Power On","func":"msg.payload = \"{\\\"val\\\":\\\"on\\\"}\";\nmsg.topic = \"plugwise2py/cmd/switch/000D6F0000994F56\";\nreturn msg;","outputs":"1","noerr":0,"x":510,"y":534,"wires":[["1bba00a8.e445ff"]]},{"id":"63d8a5c8.9c275c","type":"function","z":"843107d4.7bcef8","name":"Fight sound","func":"msg.payload = \"start_fight.mp3\";\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":584,"wires":[["913343df.6eccc"]]},{"id":"e69b2576.1964d8","type":"delay","z":"843107d4.7bcef8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":293,"y":489,"wires":[["193fa0bf.e6c05f","9f7cc731.608338","a4b92348.5b46e"]]},{"id":"4276a2a8.bd895c","type":"inject","z":"843107d4.7bcef8","name":"Power off","topic":"/vacuum/control","payload":"gameover","payloadType":"string","repeat":"","crontab":"","once":false,"x":265,"y":708,"wires":[["8e48f470.71b708","6304d6a6.9cfb28"]]},{"id":"f07643eb.0f89c","type":"inject","z":"843107d4.7bcef8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":787,"wires":[["63d8a5c8.9c275c"]]},{"id":"158ab2b7.ea754d","type":"mqtt in","z":"843107d4.7bcef8","name":"","topic":"/vacuum/button/state","broker":"15947760.ea6b89","x":97.5,"y":890,"wires":[["960a7105.69f59","150355a7.eafcaa"]]},{"id":"4ed0b629.b12f48","type":"mqtt out","z":"843107d4.7bcef8","name":"","topic":"/vacuum/button","qos":"","retain":"","broker":"15947760.ea6b89","x":734,"y":798,"wires":[]},{"id":"6f51e072.90ae2","type":"change","z":"843107d4.7bcef8","name":"0","rules":[{"t":"set","p":"payload","to":"0"}],"action":"","property":"","from":"","to":"","reg":false,"x":501,"y":797,"wires":[["4ed0b629.b12f48"]]},{"id":"d5a9b68c.2a5648","type":"change","z":"843107d4.7bcef8","name":"1","rules":[{"t":"set","p":"payload","to":"1"}],"action":"","property":"","from":"","to":"","reg":false,"x":528,"y":865,"wires":[["4ed0b629.b12f48"]]},{"id":"d72847bb.28d7b8","type":"inject","z":"843107d4.7bcef8","name":"","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":true,"x":345,"y":885,"wires":[["d5a9b68c.2a5648"]]},{"id":"150355a7.eafcaa","type":"change","z":"843107d4.7bcef8","name":"StartGame","rules":[{"t":"set","p":"payload","to":"gameover"},{"t":"set","p":"topic","to":"/vacuum/control"}],"action":"","property":"","from":"","to":"","reg":false,"x":127,"y":555,"wires":[["e69b2576.1964d8","63d8a5c8.9c275c","6f51e072.90ae2"]]},{"id":"3aabe4c5.c5541c","type":"inject","z":"843107d4.7bcef8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82,"y":621,"wires":[["150355a7.eafcaa"]]},{"id":"960a7105.69f59","type":"debug","z":"843107d4.7bcef8","name":"","active":true,"console":"false","complete":"false","x":313,"y":823,"wires":[]},{"id":"b2c1f40d.ec8c38","type":"function","z":"843107d4.7bcef8","name":"game over sound","func":"msg.payload = \"gameover.mp3\";\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":620,"wires":[["913343df.6eccc"]]}]
